.targetIndicators {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  flex-direction: column;

  &__indicator {
    border-radius: 8px;
    padding: 0 8px;
    height: 26px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    color: white;
  }
}