.savedTrainings {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 1200px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0 1rem;
  }

}