.cardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 16px;

  @media (max-width: 1200px) {
    gap: 16px; 
  }

  @media (max-width: 768px) {
    gap: 12px; 
  }
}